<!-- <h3>Hello, Test ContentChild! not working yet, dropdown problem, source code using ngx-bootstrap</h3> -->
<h3>Hello, Test ngTemplateOutlet and @ContentChild</h3>

<!-- Refs:
<p>https://indepth.dev/posts/1405/ngtemplateoutlet</p>
<p>https://github.com/StephenCooper/ngTemplateOutlets</p> -->

<hr />
<div class="app-selector btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle" (click)="toggleNgTemplateOutlet()">
    <ng-template #defaultSelected>
      {{ picked?.name || label }}
    </ng-template>

    <ng-container
      [ngTemplateOutlet]="selectedTemplateRef || defaultSelected"
      [ngTemplateOutletContext]="{ $implicit: picked }"
    >
    </ng-container>
    <span class="caret"></span>
  </button>

  <!-- <ng-container *ngIf="options">
    <ng-container *ngFor="let option of options; let i = index">
      <ng-template *ngTemplateOutlet="optionTemplateRef; context: { $implicit: option, index: i }"></ng-template>
    </ng-container>
  </ng-container> -->

  <ng-container *ngIf="showNgTemplateOutlet">
    <ul>
      <li *ngFor="let option of options; index as i" (click)="selectOption(option)">
        <ng-template #defaultOption>
          <a class="dropdown-item">
            {{ option?.name || option }}
          </a>
        </ng-template>

        <ng-container
          [ngTemplateOutlet]="optionTemplateRef || defaultOption"
          [ngTemplateOutletContext]="{ $implicit: option, index: i }"
        >
        </ng-container>
      </li>
    </ul>
  </ng-container>

  <!-- <ul>
    <li *ngFor="let option of options; index as i" (click)="selectOption(option)">
      {{ option?.name || option }}
    </li>
  </ul> -->
</div>

<!-- <div class="hm-dropdown-async3__container-div" aria-labelledby="search select car">
  <ng-container *ngIf="showNgTemplateOutlet">
    <div class="hm-dropdown-async3__items-div">
      <a
        *ngFor="let option of options; let i = index"
        class="dropdown-item pointer text-contain"
        [ngClass]="{ alternateBackground: i % 2 == 0 }"
        (mousedown)="selectOption(option); $event.preventDefault()"
      >
        {{ option.name }}
      </a>
    </div>
  </ng-container>
</div> -->
