<h3>Hello, Test ContentChild! not working yet, dropdown problem, source code using ngx-bootstrap</h3>

Refs:
<p>https://indepth.dev/posts/1405/ngtemplateoutlet</p>
<p>https://github.com/StephenCooper/ngTemplateOutlets</p>

<hr />
<div class="app-selector btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    <ng-template #defaultSelected>
      {{ picked?.name || label }}
    </ng-template>

    <ng-container
      [ngTemplateOutlet]="selectedTemplateRef || defaultSelected"
      [ngTemplateOutletContext]="{ $implicit: picked }"
    >
    </ng-container>
    <span class="caret"></span>
  </button>

  <!-- <ng-container *ngIf="options">
    <ng-container *ngFor="let option of options; let i = index">
      <ng-template *ngTemplateOutlet="optionTemplateRef; context: { $implicit: option, index: i }"></ng-template>
    </ng-container>
  </ng-container> -->

  <ul>
    <li *ngFor="let option of options; index as i" (click)="selectOption(option)">
      <ng-template #defaultOption>
        <a class="dropdown-item">
          {{ option?.name || option }}
        </a>
      </ng-template>

      <ng-container
        [ngTemplateOutlet]="optionTemplateRef || defaultOption"
        [ngTemplateOutletContext]="{ $implicit: option, index: i }"
      >
      </ng-container>
    </li>
  </ul>

  <!-- <ul>
    <li *ngFor="let option of options; index as i" (click)="selectOption(option)">
      {{ option?.name || option }}
    </li>
  </ul> -->
</div>

<!-- <h4>Using `position: absolute; z-index`</h4>

<div class="hm-dropdown-async3__container-div" aria-labelledby="search select car">
  <input
    type="text"
    #searchTextInput
    class="hm-dropdown-async3__searchInput"
    placeholder="Type to search ..."
  />

  <ng-container *ngIf="showItems && displaying$ | async as items">
    <ng-container *ngIf="items.length > 0">
      <div class="hm-dropdown-async3__items-div">
        <a
          *ngFor="let option of items; let i = index"
          class="dropdown-item pointer text-contain"
          [ngClass]="{ alternateBackground: i % 2 == 0 }"
          (mousedown)="selectValue($event, option); $event.preventDefault();"
        >
          {{ option.description }}
        </a>
      </div>
    </ng-container>
    <ng-container *ngIf="items.length === 0">
      <div class="text-center text-muted mt-1 hm-dropdown-async3__no-items-div">Waiting ... or No car found ......</div>
    </ng-container>
  </ng-container>
</div> -->
