<h2>Hello, Go To 2: Test Around CSS</h2>
<!-- <app-back-angle [linkText]="linkText" [routerLinkInput]="routerLinkInput"></app-back-angle> -->
<hr />

<h3>Taking Notes for CSS ......... TODO: install copilot in vs code!!!</h3>

<!-- {{ codes | json }}

<div *ngFor="let item of codes"><code>aaa</code><br /></div> -->

<ul>
  <li>
    <code>{{ code1 }}</code>
  </li>
  <li>
    <code>{{ code2 }}</code>
  </li>
  <li>
    <code>{{ code3 }}</code>
  </li>
</ul>
<!-- <code>{{ code1 }}</code>
<code>{{ code2 }}</code>
<code>{{ code3 }}</code> -->

<hr />

<h3>Refs:</h3>

<div class="goto2__container">
  https://www.youtube.com/watch?v=IWFqGsXxJ1E, CSS Units: vh, vw, vmin, vmax <br />

  https://www.youtube.com/watch?v=PKVKwluRTfo, calc() lets you do some real CSS magic <br />

  https://www.youtube.com/watch?v=fFJH6dguuqo, How (and why) to use borders to make a CSS triangle (plus a scss mixin)
  <br />

  https://www.youtube.com/watch?v=wYWf2m_yzBQ&list=PL4-IK0AVhVjMYRhK9vRPatSlb-9r0aKgh, LIST: Sass with auto-refresh (and
  more) made easy <br />

  https://www.youtube.com/watch?v=h3bTwCqX4ns, Build a responsive website with HTML & CSS | Part one <br />

  https://www.youtube.com/watch?v=vQAvjof1oe4, Flexbox design patterns you can use in your projects <br />

  https://www.youtube.com/watch?v=GHUNtbW22V8, Each loops with SCSS - how to loop through lists and maps <br />

  <span class="goto2__important-text"></span> https://codepen.io/kevinpowell/pen/PWNwZm, This is the Mobile nav ...
  <br />
</div>
<hr />

<div class="goto2__container-2">
  <h3 class="goto2__title">CSS triangle</h3>
  <p class="goto2__triangle">Some important text here!</p>
  <p>Other not so important text here! and go on .... and go on .....</p>
</div>

<hr />

<div class="goto2__container-2">
  <h3>calc() function</h3>
  <p>Some test text afsadf afdsafd</p>
  <img class="big-img" src="../assets/images/sample/sample-01-300x400.jpg" alt="sample img 01" />
</div>

<hr />

<div class="goto2__container">
  <div class="hero">
    <div class="grid">
      <div class="col">
        <h1 class="hero-title">Using vh and vw</h1>
        <p class="hero-text">
          Viewport width and height are fantastic units for this type of thing! Just make sure you test things out on
          mobile too, you'll probably need some media queries as there is a good chance things don't work out well on
          mobile!
        </p>
        <a href="#" class="btn">Buy now!</a>
      </div>
      <div class="col">
        <img src="//unsplash.it/300/400" alt="" class="hero-img" />
      </div>
    </div>
  </div>

  <div class="more-content"></div>
</div>
