.table-div {
  height: 200px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  background-color: white;
  padding-right: 18px;
  display: inline-flex // width: calc(100% - 17px);
}

// tbody {
//   height: 180px;
//   /* or any fixed height you want */
//   display: block;
//   overflow-y: auto;
//   // padding: 0px;
// }

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


tr:not(thead tr):hover {
  background-color: rgb(236, 222, 222);
}


//--------------------------------------------
.scrollable {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // max-width: 800px;
  margin: 30px auto;
  height: 100%; // instead of using fixed height, for controlling by maxPosts
  overflow-y: scroll;
}

//----------------------------------------------

select {
  background-color: green;
  color: white;
  font-weight: bold;
  border: 1px solid white;
}


.test-around__scrolling-div {
  margin: 30px auto;
  height: 180px;
  overflow-y: scroll;
}

//--------------------------------------------------------

.scrolling-div {
  // height: 200px;
  height: 180px;
  display: block;
  overflow-y: scroll;
}

.progress-bar-container {
  position: sticky;
  top: 0;
  height: 5px;
  background-color: #f0f0f0;
}

.progress-bar {
  height: 100%;
  background-color: #007bff;
}

// ------------------------

.h-test-around__selector-div {
  :host {
    display: grid;
    grid-template-columns: auto auto;
  }

  app-client-1,
  app-client-2 {
    margin: 1rem;
  }
}

// ---------------------------

.ellipsis-input {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}