<h3>Hello, Test Around!</h3>

<hr />

{{ myArray | json }}

<hr />
<label for="inputTextId">Testing css ellipsis: </label>
<input #inputTextId type="test" placeholder="Enter a long text here" class="ellipsis-input" />
<hr />

<label for="inputNumId">Testing input debounceTime: </label>
<input
  #inputNumId
  type="number"
  placeholder="debounceTime(500)"
  class="ellipsis-input"
  [(ngModel)]="inputNum"
  (ngModelChange)="onInputNumChange($event)"
/>

<hr />
<p>
  If we want to send some data from parent to child, we can use @Input. But if we want to inject some html from parent
  to child, we cannot use @Input. We need to use ng-content.
</p>
<test-around-child>
  <p>This is content sent from parent without any selector</p>
  <h4 titleText>Title from Parent</h4>
  <p class="desc">Injecting html from parent to child</p>
</test-around-child>

<hr />

<ng-container *ngIf="insts$ | async as insts">
  <div style="width: 300px">
    <select
      #optionSelect
      [(ngModel)]="selectedOption"
      (ngModelChange)="onSelectOptionChange($event)"
      style="width: 100%"
    >
      <option *ngFor="let option of options" [value]="option.value">
        <!-- {{ option.label }}<span *ngIf="selectedOption === option.value"> ({{ numberWithOption }})</span> -->
        {{ option.label }}<span *ngIf="showingNumberOption === option.value"> ({{ numberWithOption }})</span>
      </option>
    </select>
  </div>

  <hr />

  <div class="progress-bar-container" *ngIf="progressBarVisible">
    <div class="progress-bar" [style.width.%]="progressBarWidth"></div>
  </div>
  <div class="table-div">
    <table class="table">
      <!-- <div class="scrolling-div" (scroll)="onScroll($event)"> -->
      <thead>
        <tr>
          <th class="twenty">Institution Id</th>
          <th class="twenty">CUID</th>
          <th>English Name</th>
        </tr>
      </thead>
      <div class="progress-bar-container" *ngIf="progressBarVisible">
        <div class="progress-bar" [style.width.%]="progressBarWidth"></div>
      </div>
      <tbody class="scrolling-div" (scroll)="onScroll($event)">
        <tr *ngFor="let item of insts.slice(0, 20)">
          <td class="twenty">{{ item.institutionId }}</td>
          <td class="twenty">{{ item.cuid }}</td>
          <td>{{ item.englishName }}</td>
        </tr>
      </tbody>
      <!-- </div> -->
    </table>
  </div>

  <div class="progress-bar-container" *ngIf="progressBarVisible">
    <div class="progress-bar" [style.width.%]="progressBarWidth"></div>
  </div>

  <div class="test-around__scrolling-div" (scroll)="onScroll($event)">
    <!-- <ul>
      <li *ngFor="let item of insts.slice(0, 50)">
        {{ item.institutionId }} - {{ item.cuid }} - {{ item.englishName }}
      </li>
    </ul> -->

    <div *ngFor="let item of insts.slice(0, 50)" style="display: list-item">
      {{ item.institutionId }} - {{ item.cuid }} - {{ item.englishName }}
    </div>
  </div>
</ng-container>
