<h3>Hello, Test Table css 1!</h3>

<p>When tbody with scroll bar, thead and tbody are NOT aligned!</p>

<hr />
{{ filteredInsts$ | async | json }}
<hr />

<ng-container *ngIf="insts$ | async as insts">
  <div class="table-div">
    <table class="table">
      <thead>
        <tr>
          <th class="twenty">Institution Id</th>
          <th class="twenty">CUID</th>
          <th>English Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of insts">
          <td class="twenty">{{ item.institutionId }}</td>
          <td class="twenty">{{ item.cuid }}</td>
          <td>{{ item.englishName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
