<h1>Test Select Modal</h1>

<hr />
<h2>select-modal</h2>
<p>ngb modal when ngx select</p>
<div>
  <ngx-select
    #selectComp
    (keyup)="onKeyUpSearch($event)"
    (click)="onClick($event)"
    [formControl]="formControl4"
    [items]="displaying$ | async"
    [noAutoComplete]="false"
    [(ngModel)]="selectedItem"
    (select)="openModal(content, selectedItem)"
    optionTextField="name"
  ></ngx-select>
  Selected: {{ formControl4.value }}
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modal Test in Child</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">{{ selectedItem }}: ngx-select ngModel only bounding id</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
      Save
    </button>
  </div>
</ng-template>

<hr />
<p><a routerLink="">routerLink home</a></p>
<app-footer></app-footer>
