<h3>Hello, Test Layout: Grid3, Gallery</h3>
<p>Ref: https://www.youtube.com/watch?v=EFafSYg-PkI</p>
<app-back-angle [linkText]="linkText" [routerLinkInput]="routerLinkInput"></app-back-angle>
<hr />

<div class="home-grid3__gallery">
  <!-- <img src="https://placeimg.com/640/480/animals" alt="animals" />
  <img src="https://placeimg.com/640/480/arch" alt="arch" />
  <img src="https://placeimg.com/640/480/nature" alt="nature" />
  <img src="https://placeimg.com/640/480/people" alt="people" />
  <img src="https://placeimg.com/640/480/tech" alt="tech" /> -->

  <img src="assets/images/gallery/animals.jfif" alt="animals" />
  <img src="assets/images/gallery/arch.jfif" alt="arch" />
  <img src="assets/images/gallery/nature.jfif" alt="nature" />
  <img src="assets/images/gallery/people.jfif" alt="people" />
  <img src="assets/images/gallery/tech.jfif" alt="tech" />
</div>
