.eg-select-sublist6__container {
    position: relative;
}

.eg-select-sublist6__dropdown {
    position: relative;
    z-index: 1;
}

.eg-select-sublist6__content {
    position: relative;
    z-index: 0;
    transition: transform 0.3s ease;
}

.pushed-down {
    transform: translateY(130px);
}

// ---------------------------------

::ng-deep .custom-dropdown {
    background-color: lightblue;
    max-height: 100px !important;
    z-index: 0 !important;
}