<h2>eg.saving.02, NOT working!</h2>

<p>
  in above example, 01, if validateAndSaveToBackend is not returning Observable, i.e, it is already subscribe ... what
  should I do? because we cannot use concatMap directly ...
</p>

<div>
  <label for="inputField">Input Field:</label>
  <input type="text" id="inputField" [(ngModel)]="inputValue" (blur)="onSaveBlurAndRadio($event)" />
</div>

<div>
  <label for="radioButton">Radio Button:</label>
  <input type="radio" id="radioButton" name="radioGroup" (change)="onSaveRadio($event)" [disabled]="isSaving" />
</div>
