// button {
//     position: absolute;
//     right: 15px;
//     // top: 0;
// }

.button-test {
    position: absolute;
    right: 15px;
}

.not-allowed {
    opacity: 0.5;
    cursor: not-allowed;
}