<h2>Example Select Hover Update Inputs 5</h2>

<hr />

<h3>Select Branch</h3>

<div class="eg-select-sublist5__container">
  <div class="eg-select-sublist5__dropdown">
    <button class="dropdown-toggle" (click)="toggleDropdown()">
      <!-- <button class="eg-select-sublist5__dropdown-toggle" (click)="toggleDropdown()"> -->
      {{ selectedItem?.name || 'Select Item' }}
    </button>
    <ng-container *ngIf="isDropdownOpen">
      <ul class="eg-select-sublist5__dropdown-menu">
        <li *ngFor="let item of itemList" (mouseenter)="onItemHover(item)" (click)="onItemSelected(item)">
          {{ item.name }}
        </li>
      </ul>
    </ng-container>

    <!-- <select class="form-control select-2__select" (click)="toggleDropdown()">
      <option *ngFor="let item of itemList" (mouseenter)="onItemHover(item)" (click)="onItemSelected(item)">
        {{ item.name }}
      </option>
      >
    </select> -->
  </div>

  <div class="eg-select-sublist5__content" [ngClass]="{ 'pushed-down': isDropdownOpen }" *ngIf="selectedItem">
    <input type="text" [(ngModel)]="selectedItem.address.streetNumber" placeholder="Street Number" />
    <input type="text" [(ngModel)]="selectedItem.address.streetName" placeholder="Street Name" />
    <input type="text" [(ngModel)]="selectedItem.address.city" placeholder="City" />
    <input type="text" [(ngModel)]="selectedItem.address.province" placeholder="Province" />
    <input type="text" [(ngModel)]="selectedItem.address.country" placeholder="Country" />
    <input type="text" [(ngModel)]="selectedItem.address.postalCode" placeholder="Postal Code" />
  </div>
</div>
