<input type="text" class="form-control" placeholder="To simulate ...." [(ngModel)]="manualSearch" />

<hr />

<h2>To child</h2>

<div>
  <p>Parent component to child component</p>
  <button (click)="changeInputObject()">Change input object</button>

  <app-child [message]="message" [inputObject]="inputObject" (messageEvent)="receivedMessage($event)"></app-child>
</div>

<hr />

<h3>Select Lanugage in Parent</h3>
<div class="select-1__selectParent">
  <select
    class="select-1__selectParent-select"
    [(ngModel)]="selectedLanguage"
    (ngModelChange)="onSelectedLanguageChange($event)"
  >
    <option class="select-1__selectParent-option" value="EN">English</option>
    <option value="FR">French</option>
  </select>
</div>

<p *ngIf="selectedLanguage.toLocaleLowerCase() === 'fr'">Bonjour!</p>
<p *ngIf="selectedLanguage.toLocaleLowerCase() === 'en'">Hello!</p>
