<h1>Hello, Go To 1: Test Around CSS</h1>
<!-- <app-back-angle [linkText]="linkText" [routerLinkInput]="routerLinkInput"></app-back-angle> -->
<hr />

<h2>Taking Notes for CSS ...............</h2>

<div class="section-container">
  <h3 class="section">// css border vs outline // margin-inline: auto</h3>
  <p>
    refs: https://www.youtube.com/watch?v=vHuSz4fRM88, 13:14 of 17:10, padding also affecting sibilings, other children
    ...
  </p>
  <code>{{ code1 }}</code>

  <h3 class="section">Align in center</h3>
  <code>{{ code2 }}</code>
</div>

<hr />

<div class="container-body">
  <h2 class="test-text-center-vw-1">Here is heading</h2>
  <h2 class="test-text-center-vw-2">Here is heading</h2>
</div>
