<h1>Test Modal Page</h1>

<hr />
<h2>test-modal: Note: (keyup) is blocking default filter!</h2>

<hr />

<ngx-select
  #itemSearchSelect
  id="itemSearchSelectId"
  name="itemSearchSelectName"
  [items]="randomItems$ | async"
  (click)="onClick($event)"
  (keyup)="onKeyup($event)"
  (select)="openModal(content, selectedItem)"
  [allowClear]="false"
  [formControl]="fcItemSearch"
  [(ngModel)]="selectedItem"
  [searchCallback]="onSearchCallback"
  [placeholder]="placeHolderStr"
  bindLabel="itemSearch"
  optionValueField="id"
  optionTextField="name"
></ngx-select>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ selectedItem.id }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- {{ selectedItem.name }} will not work -->
    <app-test-modal-content [passingItem]="selectedItem"></app-test-modal-content>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
