<h3>Hello, Home Made Car Searching Modal - Async!</h3>
<app-back-angle [linkText]="linkText" [routerLinkInput]="routerLinkInput"></app-back-angle>
<hr />

<div class="dropdown h-100" class="statusDropdownContainer">
  <!-- <a
    class="btn btn-white dropdown-toggle mb-2 statusFilterDropdown h-100 flex-middle"
    role="button"
    id="dropdownMenuLink"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    (click)="dropdownOnClick()"
  >
    <span class="text-truncate">Car: {{ selectedValue ? selectedValue : 'All' }}</span>
  </a> -->

  <div *ngIf="true" class="w-100 pt-0" aria-labelledby="dropdownMenuButton">
    <input
      type="text"
      #searchTextInput
      class="w-100 p-2 searchInput"
      placeholder="{{ placeHolder }}"
      [ngModel]="searchText"
      (ngModelChange)="onKeyupSearch($event)"
      (click)="inputOnClick()"
    />

    <ng-container *ngIf="displaying$ | async as items">
      <div *ngIf="showItems" class="search-modal-item-list">
        <a
          *ngFor="let option of items; let i = index"
          class="dropdown-item pointer"
          [ngClass]="{ alternateBackground: i % 2 == 0 }"
          (click)="onSelectSymbolClick(content, option)"
        >
          {{ option.description }}
        </a>
      </div>
      <div *ngIf="showItems && items.length === 0" class="text-muted search-modal-no-item">
        Waiting ... or No car found ......
      </div>

      <div *ngIf="showItems" class="search-modal-advanced-search">
        <a href="#" (click)="$event.preventDefault(); onSelectSymbolClick(content, '-1')">{{
          'Advanced Search ......' | translate
        }}</a>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Home Made search-modal-content</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-hm-search-modal-content [passingSearchText]="searchText"></app-hm-search-modal-content>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
