.table-div {
  height: 200px;
  // overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  background-color: white;
  width: calc(100% - 17px);

  width: 100%;
  padding-right: 17px;
  /* Assuming the scrollbar width is 17px */
}

tbody {
  height: 180px;
  /* or any fixed height you want */
  display: block;
  overflow-y: auto;
  padding: 0px;
}

/* Show the scrollbar even if there's no content */
// tbody::before {
  //   content: "";
  //   display: block;
  //   height: 100%;
  //   width: 1px;
  // }

/* Measure the scrollbar width */
// ::-webkit-scrollbar {
  //   width: 20px;
  // }

  // ::-webkit-scrollbar-thumb {
  //   background-color: #888;
  // }


// thead,
// tbody {
//   width: calc(100% - 17px);
// }

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


tr:not(thead tr):hover {
  background-color: rgb(236, 222, 222);
}