.ngx-select7__container {
    border: solid 1px red;
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
}

.ngx-select7__dropdown {
    position: relative;
    z-index: 1;
}

.ngx-select7__content {
    position: relative;
    z-index: 0;
    transition: transform 0.3s ease;
}

.pushed-down {
    transform: translateY(130px);
}

// ------------------- #ngx-sleect7 ----------------------------

// need to use dropDownMenuOtherClasses="custom-dropdown" for <ngx-select>
// ::ng-deep .custom-dropdown {
::ng-deep #ngx-sleect7 .ngx-select__choices {
    background-color: lightblue;
    max-height: 200px !important;
    position: relative !important; // Using this will push the content below the dropdown down to shwo instesd of covering it!!! 
    // z-index: 0 !important; // this is not usefull ???
}

// ------------------- arrow icon only ----------------------------

.dropdown-toggle {
    // padding: 10px;
    background-color: #f0f0f0;
    outline: 1px solid red;
    cursor: pointer;
}

.dropdown-toggle::after {
    text-overflow: '';
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px 2px 5px 20px;
    border: none;
    background: transparent url('../../../../assets/images/arrow_down_blue.svg') no-repeat;
    background-position: center;
    background-size: 16px 16px;
}

// ------------------- #ngx-sleect7-1 ----------------------------

::ng-deep #ngx-sleect7-1 .ngx-select__choices {
    background-color: lightgreen;
    max-height: 200px !important;
    position: relative !important;
}


::ng-deep #ngx-sleect7-1 .dropdown-toggle {
    // padding: 10px;
    background-color: #f0f0f0;
    outline: 1px solid #ccc;
    cursor: pointer;
}


::ng-deep #ngx-sleect7-1 .dropdown-toggle::after {
    text-overflow: '';
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px 2px 5px 20px;
    border: none;
    background: transparent url('../../../../assets/images/arrow_down_blue.svg') no-repeat;
    background-position: center;
    background-size: 16px 16px;
}