<div class="ngx-search-git-container">
  <header>
    <img class="ngx-search-git-logo" src="../assets/images/2831440.svg" />
    <h1>Angular Search Engine</h1>
    <p>Powered By GitHub &amp; RxJs</p>
  </header>
  <section>
    <form [formGroup]="searchForm">
      <!-- <label for="searchRepoInput">Search GitHub Repos</label> -->
      <input
        id="searchRepoInput"
        class="ngx-search-git-input-text"
        type="text"
        (keyup)="searchTerm.next($event)"
        formControlName="search"
        placeholder="Search repos..."
      />

      <div *ngIf="loading">
        <p class="search-message">Searching</p>
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </form>

    <div *ngIf="searchResults">
      <div class="results">
        <div
          class="repo"
          *ngFor="
            let result of paginationElements | paginate : { itemsPerPage: 6, currentPage: page }
          "
        >
          <div>
            <img
              loading="lazy"
              [attr.src]="result.owner.avatar_url"
              width="200"
              height="auto"
              alt="avatar"
            />
            <h2>
              <a href="{{ result.clone_url }}" target="_blank">{{ result.full_name }}</a>
            </h2>
            <p>
              <strong>{{ result.owner.login }}</strong>
            </p>
            <p><em>Forks</em>: {{ result.forks_count }}</p>
            <p><em>Issues</em>: {{ result.open_issues_count }}</p>
          </div>
        </div>
      </div>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>

    <div *ngIf="errorMessage" class="errorMessage">
      <h2>Error</h2>
      <p class="error">{{ errorMessage }}</p>
    </div>
  </section>
</div>
