/* Style the filter container */
.filter-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

//--------------------------------------------

.triangle-div {
    height: 0px;
    margin: 20px 0;
}

.triangle-div::after {
    content: "";
    display: inline-block; // block vs inline-block?
}

.triangle-up::after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid black;
}

.triangle-down::after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 5px solid black;
}

.triangle-left::after {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

    border-right: 5px solid black;
}

.triangle-right::after {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

    border-left: 5px solid black;
}

.triangle-up-hollow:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    transform: translateY(-5px);
    /* move the arrow up by half its height */
}

.triangle-up-hollow:before {
    content: "";
    display: inline-block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    transform: translateY(-5px);
    /* move the arrow up by half its height */
}