<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>City</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let object of objects">
      <td *ngIf="!editMode || editedObject !== object">{{ object.id }}</td>
      <td *ngIf="editMode && editedObject === object">
        <select [(ngModel)]="editedObject.id" class="form-select">
          <option *ngFor="let id of ids" [value]="id">{{ id }}</option>
        </select>
      </td>
      <td *ngIf="!editMode || editedObject !== object">
        <input [(ngModel)]="object.name" [disabled]="isNameFieldDisabled()" class="form-control" />
      </td>
      <td *ngIf="editMode && editedObject === object">
        <input [(ngModel)]="editedObject.name" [disabled]="isNameFieldDisabled()" class="form-control" />
      </td>
      <td *ngIf="!editMode || editedObject !== object">{{ object.city }}</td>
      <td *ngIf="editMode && editedObject === object">
        <select [(ngModel)]="editedObject.city" class="form-control">
          <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
        </select>
      </td>
      <td>
        <button (click)="enableEditMode(object)" *ngIf="!editMode" class="btn btn-primary">Edit</button>
        <button (click)="saveObject()" *ngIf="editMode && editedObject === object" class="btn btn-success">Save</button>
        <button (click)="cancelEdit()" *ngIf="editMode && editedObject === object" class="btn btn-danger">
          Cancel
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngFor="let item of objects">
  <div>{{ item | json }}</div>
</div>
