<h1>Ngx Test</h1>

<hr />
<h2>ngx-select: items ready</h2>
<p>When items are ready, searching will not trigger backend call, highlighted automatically</p>
<div>
  <ngx-select
    [formControl]="formControl1"
    [items]="items"
    [noAutoComplete]="false"
    optionTextField="customKey"
  ></ngx-select>
  Selected: {{ formControl1.value }}
</div>

<hr />
<h2>ngx-select: items ready, async pipe</h2>
<p>When items are ready, searching will not trigger backend call, highlighted automatically</p>
<div>
  <ngx-select
    [formControl]="formControl2"
    [items]="items2$ | async"
    [noAutoComplete]="false"
    [searchCallback]="onSearchCallback"
    optionTextField="name"
  ></ngx-select>
  Selected: {{ formControl2.value }}
</div>

<hr />

<h2>ngx-select: default and trigger other dropdowns</h2>
<p>When first dropdown selected, triggering other dropdowns</p>

<section>
  <h3>Select stock type:</h3>
  <ngx-select [items]="stockTypeOptions" [(ngModel)]="selectedStockType" (ngModelChange)="onStockTypeChanged($event)">
  </ngx-select>

  <div *ngIf="showMarketDropdown">
    <h3>Select market:</h3>
    <ngx-select [items]="marketOptions" [(ngModel)]="selectedMarket" (ngModelChange)="onMarketChanged()"> </ngx-select>
  </div>

  <div *ngIf="showFundTypeDropdown">
    <h3>Select fund type:</h3>
    <ngx-select [items]="fundTypeOptions" [(ngModel)]="selectedFundType"> </ngx-select>
  </div>
</section>

<hr />
<p><a routerLink="">routerLink home</a></p>
<app-footer></app-footer>
