<h2>eg.saving.01 Working!</h2>

<p>
  on my angular page, I have an input, using [(ngModel)], also using onblur to trigger a validation and saving to
  backend ... I have another radio button, which if on select, it will trigger saving to backend as well. Now, the issue
  is that after input, user directly selects radio button, then there will be two savings triggered to backend, as race
  condition, how should I deal with this situation?
</p>

<div>
  <label for="inputField">Input Field:</label>
  <input type="text" id="inputField" [(ngModel)]="inputValue" (blur)="onSaveBlurAndRadio($event)" />
</div>

<div>
  <label for="radioButton">Radio Button:</label>
  <input type="radio" id="radioButton" name="radioGroup" (change)="onSaveRadio($event)" [disabled]="isSaving" />
</div>
