<h2>Hello, Test Tooltip!</h2>

<h3>More examples, see src\app\ngb\ngb-tooltip\ngb.tooltip.component.html</h3>

<p>Using generic component ....</p>

<div (mouseenter)="isVisible = true" (mouseleave)="isVisible = false">Hover over me to see a tooltip!</div>
<app-tooltip [content]="'This is a tooltip!'" [isVisible]="isVisible"> </app-tooltip>

<hr />

<p>
  Cannot change attr(title), attribut name to "title-test", because that is not a valid attribute. This could be due to
  using ::before, need to try out with ::after!
</p>

<p>About CSS Attribute Selector</p>

<p>See https://www.w3schools.com/css/css_attribute_selectors.asp</p>

<img
  src="assets/icons/bs-icons/question-circle.svg"
  title="This is a tooltip text"
  class="home-tooptip__question-mark"
/>

<div class="home-tooltip__container">
  <img
    src="assets/icons/bs-icons/question-circle.svg"
    title="This is a tooltip text 2222"
    class="home-tooptip__question-mark"
  />

  <img src="assets/images/flag-canada.png" alt="?" class="home-tooptip__question-mark" title="Tooltip text flag" />
</div>
