<h3>Hello, Test Talbe dropdown, modal!</h3>

<hr />

Color EUNM:

<select
  [(ngModel)]="colorSelected"
  (ngModelChange)="onSelectColor($event)"
  id="#colorSelected"
  class="w-50 form-control"
  style="padding-left: 12px"
>
  <option value="" disabled selected>Select ...</option>
  <option *ngFor="let color of colors" [value]="color">{{ color }}</option>
</select>

<hr />

Color EUNM from i18n json:

<select [(ngModel)]="selectedColor" id="#selectedColor" class="w-50 form-control" style="padding-left: 12px">
  <option [value]="null">{{ 'COLOR.SELECT_COLOR' | messageTranslate }}</option>
  <option *ngFor="let color of colors" [value]="color">{{ getColorTranslation(color) }}</option>
</select>

colorSelected: {{ selectedColor | json }}

<hr />
<h3>Editable Items:</h3>
<p>{{ 'farewell' | messageTranslate : { name: 'Jane' } }}</p>

<div class="table-container">
  <table class="table table-hover table-bordered">
    <thead class="h-random-list-table__thead">
      <tr class="bg-success">
        <th>Type</th>
        <th>Id</th>
        <th>Name</th>
        <th *ngIf="colorSelected !== 'Yellow'">Desc</th>
        <th>Custom Key</th>
        <th nowrap tabindex="0">
          {{ 'HOME.RANDOM.LIST.TABLE.TH.REMOVE' | messageTranslate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let item of editItems; let i = index" style="height: 20px" (click)="onEditableRowClick(item)"> -->
      <!-- <tr *ngFor="let item of editItems; let i = index" style="height: 20px"> -->
      <tr *ngFor="let item of editItems; let i = index">
        <td class="td-spec">
          <select
            [(ngModel)]="editItems[i].type"
            id="direction-select-{{ i }}"
            class="td-input-select"
            style="padding-left: 12px"
          >
            <option *ngFor="let direction of getDirectionEnumValues()" [value]="direction">
              {{ directionEnum[direction] }}
            </option>
          </select>
        </td>
        <td class="td-spec">
          <input
            class="td-input-select input-class-number"
            style="padding-left: 12px"
            type="number"
            [(ngModel)]="editItems[i].id"
            [maxLength]="5"
          />
        </td>
        <td class="td-spec">
          <input
            class="td-input-select"
            style="padding-left: 12px"
            [disabled]="isNameFieldDisabled(i)"
            type="text"
            [(ngModel)]="editItems[i].name"
          />
        </td>
        <td *ngIf="colorSelected !== 'Yellow'" class="td-spec">
          <input class="td-input-select" style="padding-left: 12px" type="text" [(ngModel)]="editItems[i].desc" />
        </td>
        <td class="td-spec">
          <app-ramdom-list-search
            class="td-input-select"
            [inputItem]="item"
            (selectOptionEmitter)="onCustomKeySelected($event, i)"
          ></app-ramdom-list-search>
        </td>
        <td class="td-spec" style="text-align: center">
          <div class="h-random-list-table2__remove-row" (click)="onRemove(i)">X</div>

          <div class="h-random-list-table2__remove-img" style="padding: 0">
            <img src="assets/images/delete_icon_white.svg" alt="delete" />
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="add-new-div">
    <span (click)="addNewRow()" class="top-level__link-text">Add New Row</span>
  </div>

  <div *ngFor="let item of editItems">
    <div>{{ item | json }}</div>
  </div>
</div>

<ng-template #customContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-home-table1></app-home-table1>
    <!-- <app-home-table1
      [inputCountry]="passingCountry"
      (selectCountryEvent)="recieveSelectCountryEvent($event)"
    ></app-home-table1> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
