<h1>Ngx Test</h1>

<hr />
<h2>ngx-select: items cached ready, refreshing by Timer</h2>
<p>When items are not ready, searching will trigger backend call</p>
<div>
  <ngx-select
    [formControl]="formControl3"
    (keyup)="onKeyUp($event)"
    [items]="items$ | async"
    [noAutoComplete]="false"
    optionTextField="name"
    optionValueField="id"
    autoClearSearch="true"
  >
    <ng-template let-option let-text="name" ngx-select-option ngx-select-option-selected>
      <div (mouseover)="onMouseOver($event)" title="{{ option.data.name }}">
        {{ option.data.id }} - {{ option.data.name }}
      </div>
    </ng-template>
  </ngx-select>
  Selected: {{ formControl3.value }}
</div>

<hr />
<p><a routerLink="">routerLink home</a></p>
<app-footer></app-footer>
