.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu.show {
  display: block;
}

li {
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #f5f5f5;
}

.sublist {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
}

.dropdown-menu li:hover .sublist {
  display: block;
}

.selected-address {
  margin-top: 8px;
  font-size: 12px;
  color: #777;
}


.branch-name {
  font-weight: bold;
}

.branch-fax {
  display: block;
  font-size: smaller;
}

.branch-address {
  font-size: smaller;
  margin-top: 5px;
  padding: 4px;
  white-space: nowrap;
}

.branch-address:hover {
  background-color: lightblue;
}