<div class="container-body">
  <div class="cards">
    <div class="card">
      <h2><a href="javascript:void(0)">Title</a></h2>
      <p>This is an article and it has some content.</p>
    </div>
    <div class="card">
      <h2><a href="javascript:void(0)">Title</a></h2>
      <p>This is an article and it has some content.</p>
    </div>
    <div class="card">
      <h2><a href="javascript:void(0)">Title</a></h2>
      <p>This is an article and it has some content.</p>
    </div>
    <div class="card">
      <h2><a href="javascript:void(0)">Title</a></h2>
      <p>This is an article and it has some content.</p>
    </div>
    <div class="card">
      <h2><a href="javascript:void(0)">Title</a></h2>
      <p>This is an article and it has some content.</p>
    </div>
  </div>
</div>
