<h1>Ngx Test ngx-select-3</h1>

<hr />
<h2>ngx-select: items NOT ready</h2>
<p>When items are not ready, searching will trigger backend call</p>
<div style="text-decoration: line-through; font-weight: bold">
  <ngx-select
    id="#ngxSelect3"
    (keyup)="onKeyUpSearch($event)"
    (input)="onKeyUpSearch($event)"
    (click)="onClick($event)"
    [formControl]="formControl4"
    [items]="displaying$ | async"
    [noAutoComplete]="false"
    [placeholder]="placeholderStr"
    [searchCallback]="onSearchCallback"
    optionTextField="name"
    dropDownMenuOtherClasses="['selectd-item']"
    ngClass="selectd-item"
  ></ngx-select>
  Selected: {{ formControl4.value }}
</div>

<hr />
<p><a routerLink="">routerLink home</a></p>
<app-footer></app-footer>
