<h1>Ngx Test</h1>

<hr />
<h2>ngx-select: items ready</h2>
<p>When items are ready, searching will not trigger backend call, highlighted automatically</p>
<div>
  <ngx-select
    [formControl]="formControl"
    [items]="items$ | async"
    [noAutoComplete]="false"
    optionTextField="name"
  ></ngx-select>
  Selected: {{ formControl.value }}
</div>

<hr />
<h2>ngx-select: items NOT ready</h2>
<p>When items are not ready, searching will trigger backend call</p>
<div>
  <ngx-select
    [formControl]="formControl"
    [items]="items$ | async"
    [noAutoComplete]="false"
    optionTextField="name"
  ></ngx-select>
  Selected: {{ formControl.value }}
</div>

<hr />
<p><a routerLink="">routerLink home</a></p>
<app-footer></app-footer>
