.tooltip-container {
  position: absolute;
  z-index: 1;
  padding: 5px;
  background-color: var(--primary-color);
  // background-color: #333;
  // color: #fff;
  border-radius: 3px;
  font-size: 14px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px;
  // border-color: transparent transparent #333 transparent;
  border-color: transparent transparent var(--primary-color) transparent;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
}

.tooltip-content {
  margin-top: 5px;
  white-space: nowrap;
}



// .home-tooltip__container {
//   width: 100%;
//   position: relative;
// }

// .home-tooptip__btn {
//   background-color: lightblue;
//   color: black;
//   padding: 8px 16px;
//   text-decoration: none;
// }

// .home-tooptip__question-mark {
//   position: relative;
// }

// .home-tooptip__question-mark::before {
//   content: attr(titleText);
//   position: absolute;
//   top: -20px;
//   left: 0;
//   background-color: #fff;
//   border: 1px solid #ccc;
//   padding: 5px;
//   border-radius: 3px;
//   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
//   opacity: 0;
//   transition: opacity 0.3s ease;
//   z-index: 999;
// }

// .home-tooptip__question-mark:hover::before {
//   opacity: 1;
// }