<h3>Hello, Test Tooltip!</h3>

<hr />

<!-- <img src="question-mark.png" alt="?" class="tooltip" title="Tooltip text" /> -->

<div class="home-tooltip__container">
  <!-- <div class="tooltip" title="Your tooltip text here"></div>
  <span class="home-tooptip__btn">This is a button</span>
  this is text -->

  <img src="assets/images/flag-canada.png" class="tooltip" title="Tooltip text" />

  <!-- <img src="assets/images/flag-canada.png" alt="?" class="home-tooltip__tooltip" data-tooltip="Tooltip text" /> -->
</div>
