<div class="tooltip-container" [ngStyle]="{ display: isVisible ? 'block' : 'none' }">
  <div class="tooltip-arrow"></div>
  <div class="tooltip-content">{{ content }}</div>
</div>

<!-- <h3>Hello, Test Tooltip!</h3>

<hr />

<img
  src="assets/icons/bs-icons/question-circle.svg"
  titleText="This is a tooltip text"
  class="home-tooptip__question-mark"
/> -->

<!-- <img
  src="assets/icons/bs-icons/question-circle.svg"
  title="This is a tooltip text"
  class="home-tooptip__question-mark"
/> -->

<!-- <div class="home-tooltip__container">
  <img
    src="assets/icons/bs-icons/question-circle.svg"
    title="This is a tooltip text 2222"
    class="home-tooptip__question-mark"
  />

  <img src="assets/images/flag-canada.png" alt="?" class="home-tooptip__question-mark" title="Tooltip text flag" />
</div> -->
