<h2>HTML Home</h2>

<hr />
<div *ngFor="let item of pageNavBeans">
  <h3>{{ item.title }}</h3>
  <p>
    <a routerLink="{{ item.url }}">{{ item.url }}: {{ item.desc }}</a>
  </p>
</div>

<hr />

<h2>ONLY TEMP CONTENT BELOW</h2>

<hr />
<h3>Loading Dots CSS Animation Tutorial</h3>

<div class="loading-dots-container">
  <div class="loading-dots-div"></div>
  <div class="loading-dots-div"></div>
  <div class="loading-dots-div"></div>
  <div class="loading-dots-div"></div>
  <div class="loading-dots-div"></div>
</div>

<hr />

<h3>Play Around Image</h3>

<div class="image-wrapper">
  <!-- <img src="../../../assets/images/gallery/400-01.png" alt="" /> -->
  <img src="../../../assets/images/gallery/tech.jfif" alt="" />
</div>

<div>
  https://www.youtube.com/watch?v=CVKbe4RaUZQ

  <p>There is a way to overlap grid-template-areas!</p>
</div>

<hr />

<h3>Play Grid Cards</h3>
<p>https://www.youtube.com/watch?v=qII5BueXWD4, The Magic of CSS Grid AUTO-FIT vs AUTO-FILL</p>

<div class="grid-card-container">
  <div class="quote">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nesciunt ullam itaque! Consequuntur, asperiores
      modi!
    </p>
    <span>John Doe</span>
  </div>
  <div class="quote span-2">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nesciunt ullam itaque! Consequuntur, asperiores
      modi!
    </p>
    <span>John Doe</span>
  </div>
  <div class="quote">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nesciunt ullam itaque! Consequuntur, asperiores
      modi!
    </p>
    <span>John Doe</span>
  </div>
  <div class="quote">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nesciunt ullam itaque! Consequuntur, asperiores
      modi!
    </p>
    <span>John Doe</span>
  </div>
</div>

<hr />

<div class="overlapping-grid">
  <h1>Overlapping grid areas?</h1>
  <!-- <div class="h__img-wrap"> -->
  <img src="../../../assets/images/gallery/400-01.png" alt="" />
  <!-- </div> -->

  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat voluptates voluptatibus quas unde nam quam
    aperiam animi, fugit velit debitis?
  </p>
</div>
