<h2>Example Home</h2>

<hr />
<p><a routerLink="/eg/select">/eg/select: Making Select Arrow CSS</a></p>
<p><a routerLink="/eg/selectsublist1">/eg/selectsublist1: Hover Open Sublist 1, prepare</a></p>
<p><a routerLink="/eg/selectsublist2">/eg/selectsublist2: Hover Open Sublist 2</a></p>
<p><a routerLink="/eg/selectsublist3">/eg/selectsublist3: Hover Open Sublist 3, end of chatGPT</a></p>
<p><a routerLink="/eg/selectsublist4">/eg/selectsublist4: Hover Open Sublist 4</a></p>
<p><a routerLink="/eg/selectsublist5">/eg/selectsublist5: Hover Update Inputs</a></p>
<p><a routerLink="/eg/pattern">/eg/pattern: Pattern Test</a></p>
<p><a routerLink="/eg/inputvalidate">/eg/inputvalidate: Input Validation Tests</a></p>

<hr />
<h3>SVGs</h3>
<svg class="icon" viewBox="0 0 11 7" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M5.97513 6.23668L0.966797 1.23901L2.02646 0.177011L5.97413 4.11634L9.9378 0.152344L10.9985 1.21301L5.97513 6.23668Z"
  />
</svg>
<!-- Example usage with custom fill color -->
<svg class="icon" viewBox="0 0 11 7" xmlns="http://www.w3.org/2000/svg" style="--icon-color: red">
  <path
    d="M5.97513 6.23668L0.966797 1.23901L2.02646 0.177011L5.97413 4.11634L9.9378 0.152344L10.9985 1.21301L5.97513 6.23668Z"
  />
</svg>

<h3>Select Lanugage</h3>
<div class="select-1__selectParent">
  <select
    class="select-1__selectParent-select"
    [(ngModel)]="selectedLanguage"
    (ngModelChange)="onSelectedLanguageChange($event)"
  >
    <option class="select-1__selectParent-option" value="EN">English</option>
    <option value="FR">French</option>
  </select>
</div>
