<p>{{ message }}</p>

<ngx-select
  [items]="randomItems$ | async"
  bindLabel="name"
  [(ngModel)]="selectedItem"
  (select)="openModal(content, selectedItem)"
></ngx-select>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ selectedItem.name }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- {{ selectedItem.name }} -->
    asdfasd
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
      Save
    </button>
  </div>
</ng-template>
