.table-container {
  margin-top: 15px;
  height: 220px;
  overflow-y: auto;
  position: relative;
}

table {
  // width: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
}

tbody {
  height: auto;
  // overflow-y: auto;
}

tr {
  // height: 20px;
  border-bottom: 1px solid #766e6e;
}

// tr:last-child {
//   border-bottom: none;
// }

// ----------------------------

.add-new-div {
  position: sticky;
  // position: fixed;
  // position: relative;
  // position: absolute;
  // bottom: 0;
  // right: 0;
  // margin-bottom: -100%;
  // margin-right: -100%;
  padding-left: 82%;
}

.td-spec {
  padding: 0px;
  // outline: 1px solid black;
  vertical-align: middle;
  // text-align: center;
  // border: none;
}

.td-input-select {
  padding: 0;
  border: none;
  height: 2.5rem;
  width: 100%;
  box-sizing: border-box;
}

// .td-input-select-width-100 {
//   width: 100%;
//   box-sizing: border-box;
// }

.dropdown-no-border {
  border: none;
  outline: none
}

/**
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
**/

.input-class-number[type="number"]::-webkit-inner-spin-button,
.input-class-number[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}