<h2>Home Made</h2>

<progress-bar-scroll [progress]="scrollProgress"></progress-bar-scroll>

<hr />
<h4>Test Arrows</h4>
<p>Right arrow: <i class="arrow right"></i></p>
<p>Left arrow: <i class="arrow left"></i></p>
<p>Up arrow: <i class="arrow up"></i></p>
<p>Down arrow: <i class="arrow down"></i></p>
<p><span class="hm__test-arrow-mixin">Look here</span></p>
<p><span class="hm__test-sortable-th">Name</span></p>

<h2>Triangle Up CSS: from w3c school</h2>
<p>https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_triangle-up</p>
<div class="triangle-div triangle-up"></div>
<div class="triangle-div triangle-down"></div>
<div class="triangle-div triangle-left"></div>
<div class="triangle-div triangle-right"></div>

<div class="good-version">
  <p>Good Version</p>
  <div class="arrow-div arrow-up"></div>
  <div class="arrow-div arrow-down"></div>
  <div class="arrow-div arrow-left"></div>
  <div class="arrow-div arrow-right"></div>
</div>

<hr />

<p>
  <a routerLink="/hm/hm-dropdown-search">/hm/hm-dropdown-search: Home Made Dropdown Search</a>
</p>
<p>
  <a routerLink="/hm/hm-dropdown-search-async"> /hm/hm-dropdown-search-async: Home Made Dropdown Search Async </a>
</p>
<p>
  <a routerLink="/hm/hm-dropdown-search-async2"> /hm/hm-dropdown-search-async2: Home Made Dropdown Search Async2 </a>
</p>
<p>
  <a routerLink="/hm/hm-search-modal"> /hm/: Home Made Search Modal </a>
</p>

<hr />

<p>
  <a routerLink="/hm/hm-spinner">/hm/hm-spinner: Home Made Spinner</a>
</p>

<p>
  <a routerLink="/hm/hm-datatable1">/hm/hm-datatable1: Home Made Data Table 1</a>
</p>

<p>
  <a routerLink="/hm/hm-datatable2">/hm/hm-datatable2: Home Made Data Table 2</a>
</p>

<p>
  <a routerLink="/hm/hm-datatable3">/hm/hm-datatable3: Home Made Data Table 3</a>
</p>

<p>
  <a routerLink="/hm/hm-datatable4">/hm/hm-datatable4: Home Made Data Table 4</a>
</p>

<p>
  <a routerLink="/hm/hm-datatable5">/hm/hm-datatable5: Home Made Data Table 5</a>
</p>
<p>
  <a routerLink="/hm/hm-datatable6">/hm/hm-datatable6: Home Made Data Table 6</a>
</p>
<p>
  <a routerLink="/hm/hm-datatable7">/hm/hm-datatable7: Home Made Data Table 7</a>
</p>
<p>
  <a routerLink="/hm/hm-datatable8">/hm/hm-datatable8: Home Made Data Table 8</a>
</p>
<p>
  <a routerLink="/hm/hm-dnd-file">/hm/hm-dnd-file: Home Made Drag and Drop Files</a>
</p>
<p>
  <a routerLink="/hm/hm-dnd">/hm/hm-dnd: Home Made Drag and Drop</a>
</p>
<p>
  <a routerLink="/hm/hm-editable">/hm/hm-editable: Home Made Editable Table</a>
</p>
