<h2>Ngx Home</h2>
<hr />

<h3>Ngx Testing Around</h3>
<p><a routerLink="/ngx/ngx-test">/ngx/ngx-test: Ngx Test</a></p>

<hr />
<h3>ngx-select-1</h3>
<p><a routerLink="/ngx/ngx-select-1">/ngx/ngx-select-1: ngx-select normal usage</a></p>
<h3>ngx-select-2</h3>
<p><a routerLink="/ngx/ngx-select-2">/ngx/ngx-select-2: ngx-select cache, timer</a></p>
<h3>ngx-select-3</h3>
<p><a routerLink="/ngx/ngx-select-3">/ngx/ngx-select-3: ngx-select, search when keyup</a></p>
<h3>ngx-select-4</h3>
<p><a routerLink="/ngx/ngx-select-4">/ngx/ngx-select-4: ngx-select, filtered length</a></p>
<h3>ngx-search-gitrepos</h3>
<p>
  <a routerLink="/ngx/ngx-search-gitrepos"> /ngx/ngx-search-gitrepos: search github repos with pagination </a>
</p>
<h3>ngx-form1</h3>
<p><a routerLink="/ngx/ngx-form1">/ngx/ngx-form1: ngx-form1, reactive form</a></p>
<h3>ngx-dropdown1</h3>
<p>
  <a routerLink="/ngx/ngx-select-dropdown1">/ngx/ngx-select-dropdown1: ngx-select-dropdown1, ngx-select-dropdown1</a>
</p>
