<h3>Hello, Test Table css 3!</h3>

<p>fixed if very few items, tr is too high and still seeing scroll bar!</p>
<p>tbody : height: auto; with tr: height: 20px; border-bottom: 1px solid #766e6e;</p>

<hr />
{{ filteredInsts$ | async | json }}
<hr />

<ng-container *ngIf="insts$ | async as insts">
  <div class="table-container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Institution Id</th>
          <th>CUID</th>
          <th>English Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of insts.slice(0, 1000)" style="height: 20px">
          <!-- <tr *ngFor="let item of filteredInsts$ | async"> -->
          <td>{{ item.institutionId }}</td>
          <td>{{ item.cuid }}</td>
          <td>{{ item.englishName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
