<div class="statusDropdownContainer">
  <div *ngIf="true" aria-labelledby="dropdownMenuButton" style="padding: 0px">
    <!-- <input
      type="text"
      class="form-control"
      #searchTextInput
      placeholder="{{ placeHolder }}"
      [ngModel]="searchText"
      (ngModelChange)="onKeyupSearch($event)"
      (focus)="inputOnFocus()"
      (blur)="inputOnBlur($event)"
    /> -->

    <input
      type="text"
      class="search-modal__input-select"
      #searchTextInput
      placeholder="{{ placeHolder }}"
      [ngModel]="searchText"
      (ngModelChange)="onKeyupSearch($event)"
      (focus)="inputOnFocus()"
      (blur)="inputOnBlur($event)"
    />
    <ng-container *ngIf="displaying$ | async as items">
      <div
        *ngIf="inEditMode"
        [ngClass]="{
          'p-0 search-modal__ng-container': items.length <= lengthToUseLargerDiv,
          'p-0 search-modal__ng-container-large': items.length > lengthToUseLargerDiv
        }"
      >
        <div *ngIf="inEditMode" class="search-modal__item-list">
          <a
            *ngFor="let option of items; let i = index"
            class="dropdown-item pointer"
            [ngClass]="{ alternateBackground: i % 2 == 0 }"
            (mousedown)="onSelectSymbolClick($event, content, option); $event.preventDefault()"
          >
            {{ option.description }}
          </a>
        </div>
        <div *ngIf="inEditMode && searchText === '' && items.length === 0" class="text-muted search-modal__no-item">
          Type to search ...
        </div>
        <div *ngIf="inEditMode && searchText !== '' && items.length === 0" class="text-muted search-modal__no-item">
          No match found ...
        </div>
        <div
          *ngIf="inEditMode && items.length > 3"
          class="text-muted search-modal__no-item"
          style="color: var(--bs-green)"
        >
          More matches found ...
        </div>

        <div *ngIf="inEditMode" class="search-modal__advanced-search">
          <span
            class="top-level__link-text"
            style="color: var(--bs-green)"
            (mousedown)="onSelectSymbolClick($event, content, '-1'); $event.preventDefault()"
            >{{ 'Advanced Search ......' }}</span
          >
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Home Made search-modal-content</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-ramdom-list-search-adv
      [passingSearchText]="searchText"
      (selectedItem)="receiveSelectItem($event)"
    ></app-ramdom-list-search-adv>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
