.statusDropdownContainer {
  // padding-top: 6px;
  padding: 0;
  width: 100%
}

//---------------------------------------------------

.h__search-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 0;
}


.h__image-wrapper {
  width: 30px;
  height: 30px;
  overflow: hidden;
  // border: 1px solid red;
}

.h__image-wrapper img {
  padding: 10px 5px 0 0;
  width: 100%;
  height: 100%;
}

//---------------------------------------------------

.h__image-wrapper-bk {
  padding: 0 5px 0 0;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;
}

.h__image-wrapper-bk img {
  width: 100%;
  height: 100%;
}


//---------------------------------------------------
.search-modal__no-item {
  margin-top: 10px;
  font-style: italic;
  text-align: center;
}

.search-modal__advanced-search {
  margin-top: 20px;
  text-align: center;
}

// div.search-modal__item-list {
//   border: 1px solid black;
// }

.search-modal__ng-container,
.search-modal__ng-container-large {
  // padding: 0;
  border: 1px solid rgb(223, 216, 216);
  // border: none;
  outline: none;
  position: absolute; // don't use fixed, because cannot handle scolling
  // width: 100%;
  background-color: #f0f0f0;
  height: 120px;
  // max-height: 150px;
  overflow: auto;
  z-index: 100;
}

.search-modal__ng-container-large {
  height: 200px;
}

.search-modal__input-select {
  padding: 0 0 0 10px;
  border: none;
  height: 2.5rem;
  width: 100%;
  box-sizing: border-box;
}

.search-modal__input-select[disabled] {
  background-color: rgb(134, 16, 16);
}