<!-- <div class="home__progress-container"> -->
<progress-bar-scroll [progress]="scrollProgress"></progress-bar-scroll>
<!-- </div> -->

<h1>Home</h1>
<p>
  This is in 'div class="mainContainer"''. It is defined in
  <span class="spanFileBackground">styles.scss</span>, but overriden in
  <span class="spanFileBackground">home.component.scss</span>.
</p>

<h2>
  Home Tab: for testing common components in
  <i [innerHtml]="'core' | highlighter : 'core' : 'partial'"></i>
  and
  <i [innerHtml]="'shared' | highlighter : 'shared' : 'full'"></i>
</h2>
<hr />

<h3>Testing Around Pages</h3>

<hr />

<p><a routerLink="/home/test-around">/home/test-around: Test Around</a></p>
<p><a routerLink="/home/test-modal">/home/test-modal: Test Modal</a></p>
<p><a routerLink="/home/test-inputoutput">/home/test-inputoutput: Test Input Output</a></p>
<p><a routerLink="/home/parent">/home/parent: Test Parent/Child</a></p>
<p><a routerLink="/home/get-ngx-select">/home/get-ngx-select: Test get-ngx-select</a></p>
<p><a routerLink="/home/select-modal">/home/select-modal: Test Ngx Select with Ngb Modal</a></p>
<p><a routerLink="/home/options">/home/options: Test Select Option Dropdown</a></p>
<p><a routerLink="/home/table1">/home/table1: Test Table css 1</a></p>
<p><a routerLink="/home/table2">/home/table2: Test Table css 2</a></p>
<p><a routerLink="/home/table3">/home/table3: Test Table css 3</a></p>
<p><a routerLink="/home/scroll-load">/home/scroll-load: Test Scroll Loading</a></p>
<p><a routerLink="/home/scroll-load2">/home/scroll-load2: Test Scroll Loading2</a></p>
<p><a routerLink="/home/scroll-load3">/home/scroll-load3: Test Scroll Loading3</a></p>
<p><a routerLink="/home/progress-bar-scroll">/home/progress-bar-scroll: Test Progress Bar on Scrolling</a></p>
<hr />

<hr />

Testing around the lib and push to Github.

<hr />
<oopslib001-oops-lib001></oopslib001-oops-lib001>

<hr />
<oopslib002-oops-lib002></oopslib002-oops-lib002>

<hr />

<div *ngIf="states$ | async as states; else noState">
  <p>There are {{ states.length }} item(s) returning by StateService!</p>
  <p>oops-lib002 service loading data is working!</p>
</div>

<ng-template #noState>
  <p>There is no item returning by StateService!</p>
  <p>oops-lib002 error and asset/mockdata/ maybe not existing!</p>
</ng-template>
