<!-- <div class="home__progress-container"> -->
<progress-bar-scroll [progress]="scrollProgress"></progress-bar-scroll>
<!-- </div> -->

<h1>Home</h1>
<p>
  This is in 'div class="mainContainer"''. It is defined in
  <span class="home__spanFileBackground">styles.scss</span>, but overriden in
  <span class="home__spanFileBackground">home.component.scss</span>.
</p>

<hr />

<div (mouseenter)="isVisible = true" (mouseleave)="isVisible = false">Hover over me to see a tooltip!</div>
<app-tooltip [content]="'This is a tooltip!'" [isVisible]="isVisible"> </app-tooltip>

<hr />

<div class="h__img-wrap">
  <img src="assets/images/ic-file.svg" alt="test" />
</div>

<h3>i18n</h3>
<p>{{ 'greeting' | messageTranslate : { name: 'John', second: second } }}</p>
<p>{{ 'farewell' | messageTranslate : { name: 'Jane' } }}</p>
<p>{{ 'HOME.TITLE' | messageTranslate }}</p>

<hr />

<h3>See Console log ...</h3>
<p>
  See console log for comparing:
  <span class="home__spanFileBackground">mergeMap, switchMap, exhaustMap and concatMap</span>.
</p>

<hr />

<h3>Testing Around Pages</h3>

<p><a routerLink="/home/test-around">/home/test-around: Test Around</a></p>
<p><a routerLink="/home/test-modal">/home/test-modal: Test Modal</a></p>
<p><a routerLink="/home/test-inputoutput">/home/test-inputoutput: Test Input Output</a></p>
<p><a routerLink="/home/parent">/home/parent: Test Parent/Child</a></p>
<p><a routerLink="/home/get-ngx-select">/home/get-ngx-select: Test get-ngx-select</a></p>
<p><a routerLink="/home/select-modal">/home/select-modal: Test Ngx Select with Ngb Modal</a></p>
<p><a routerLink="/home/options">/home/options: Test Select Option Dropdown</a></p>
<p><a routerLink="/home/table1">/home/table1: Test Table css 1</a></p>
<p><a routerLink="/home/table2">/home/table2: Test Table css 2</a></p>
<p><a routerLink="/home/table3">/home/table3: Test Table css 3</a></p>
<p><a routerLink="/home/scroll-load">/home/scroll-load: Test Scroll Loading</a></p>
<p><a routerLink="/home/scroll-load2">/home/scroll-load2: Test Scroll Loading2</a></p>
<p><a routerLink="/home/scroll-load3">/home/scroll-load3: Test Scroll Loading3</a></p>
<p><a routerLink="/home/progress-bar-scroll">/home/progress-bar-scroll: Test Progress Bar on Scrolling</a></p>
<p><a routerLink="/home/grid">/home/grid: Layout: grid</a></p>
<p><a routerLink="/home/grid2">/home/grid2: Layout: grid2</a></p>
<p><a routerLink="/home/grid3">/home/grid3: Layout: grid3</a></p>
<p><a routerLink="/home/flex">/home/flex: Layout: flex</a></p>
<p><a routerLink="/home/flex2">/home/flex2: Layout: flex2</a></p>
<p><a routerLink="/home/selector">/home/selector: Using ContentChild</a></p>
<p><a routerLink="/home/investlist">/home/investlist: Investiment List</a></p>
<p><a routerLink="/home/itemlist">/home/itemlist: Random Item List</a></p>
<p><a routerLink="/home/itemlist2">/home/itemlist2: Random Item List2</a></p>
<p><a routerLink="/home/itemlist3">/home/itemlist3: Random Item List3</a></p>
<p><a routerLink="/home/tooltip2">/home/tooltip2: Test Around Tooltip</a></p>
<hr />

<hr />

<h3>Test Bootstrap Icons</h3>
<div>
  <img src="assets/icons/bs-icons/caret-down.svg" alt="test" />
  <img src="assets/icons/bs-icons/caret-down-fill.svg" alt="test" />
  <img src="assets/icons/bs-icons/caret-up.svg" alt="test" />
  <img src="assets/icons/bs-icons/caret-up-fill.svg" alt="test" />
</div>

<div style="height: fit-content">
  <img src="assets/icons/bs-icons/caret-up-fill.svg" alt="test" />
  <img src="assets/icons/bs-icons/caret-up.svg" alt="test" />
  <img src="assets/icons/bs-icons/caret-down-fill.svg" alt="test" />
  <img src="assets/icons/bs-icons/caret-down.svg" alt="test" />
</div>

<div class="top-level__div-sort-arrows">
  <img src="assets/icons/bs-icons/caret-up.svg" alt="test" />
  <img src="assets/icons/bs-icons/caret-down-fill.svg" alt="test" />
</div>

<div class="top-level__div-sort-arrows">
  <img src="assets/icons/bs-icons/caret-up-fill.svg" alt="test" />
  <img src="assets/icons/bs-icons/caret-down.svg" alt="test" />
</div>

<div class="top-level__div-sort-arrows">
  <div class="h__img-wrap">
    <img src="assets/icons/bs-icons/caret-up.svg" alt="test" />
    <img src="assets/icons/bs-icons/caret-down-fill.svg" alt="test" />
  </div>
</div>

<hr />

<h3>Test around pipes</h3>
date pipe:
<p>The current date is: {{ currentDate | date : 'shortDate' }}</p>
<p>The current time is: {{ currentDate | date : 'shortTime' }}</p>

number pipe: {{ 2.3456 | number : '1.2-2' }} <br />

currency pipe: {{ 2.3456 | currency : 'USD' : 'symbol' : '1.2-2' }} <br />

percentage pipe: {{ 0.5 | percent : '1.2-2' }} <br />

titlecase pipe, not so useful: {{ 'this is a title' | titlecase }} <br />

<span class="home__spanFileBackground">KeyValuePipe:</span>
<div *ngFor="let item of myObject | keyvalue">{{ item.key }}: {{ item.value }}</div>

<hr />

<h3>Testing drag and drop</h3>

<p>
  Buggy till now: if
  <span class="home__spanFileBackground" style="color: brown; background-color: yellow"
    >in completed div, dnd again</span
  >, then all messed up!
</p>

<section class="home__cards">
  <div class="todo-items">
    <div *ngFor="let item of todoItems" draggable="true" (dragstart)="dragStart($event, item)">{{ item }}</div>
  </div>
  <div class="completed-items" (dragover)="dragOver($event)" (drop)="drop($event, 'completed')">
    <div *ngFor="let item of completedItems" draggable="true" (dragstart)="dragStart($event, item)">{{ item }}</div>
  </div>
</section>
<hr />

<h3>Testing common components</h3>

<p>
  Home Tab: for testing common components in
  <i [innerHtml]="'core' | highlighter : 'core' : 'partial'"></i>
  and
  <i [innerHtml]="'shared' | highlighter : 'shared' : 'full'"></i>
</p>

<hr />

Testing around the lib and push to Github.

<hr />
<oopslib001-oops-lib001></oopslib001-oops-lib001>

<hr />
<oopslib002-oops-lib002></oopslib002-oops-lib002>

<hr />

<div *ngIf="states$ | async as states; else noState">
  <p>There are {{ states.length }} item(s) returning by StateService!</p>
  <p>oops-lib002 service loading data is working!</p>
</div>

<ng-template #noState>
  <p>There is no item returning by StateService!</p>
  <p>oops-lib002 error and asset/mockdata/ maybe not existing!</p>
</ng-template>
