.mainContainer {
    padding-top: 10px; // for demo

    p {
        font-family: "Poppins", sans-serif;
        padding: 10px;
    }

    .spanFileBackground {
        width: 100%;
        background-color: var(--primary-color);
    }
}

::ng-deep .highlighted-text {
    background-color: yellow;
}

// .selectd-item {
    //     font-weight: bold;
    // }

    // ::ng-deep .selectd-item {
    //     font-weight: bold;
    // }

    // .ngx-select__selected span {
    //     font-weight: bold;
    // }

    // .ngx-select__selected-single {
    //     span {
    //         font-weight: bold;
    //     }
    // }

    // .ngx-select__search,
    // .ngx-select__selected-single {
    //     font-weight: bold;
    // }

    // .ngx-select__search>input {
    //     font-weight: bold;
    // }

    // .ngx-select__selected-single span {
    //     font-weight: bold;
    // }


::ng-deep .ngx-select__selected-single span {
    font-weight: bold;
}